<section class="block_two">
                        <div>
                            <div class="double_logo_clouds">
                                <div>
                                    <div class="logo_box_clouds"><a href="#"><img src="./img/block_two/logo.svg" alt="logo"></a></div>

                                    <div class="logo_box_clouds"><a href="#"><img src="./img/block_two/layer.svg" alt="logo"></a></div>
                                </div>
                                <div>
                                    <div class="logo_box_clouds"><a href="#"><img src="./img/block_two/logo_one.svg" alt="logo"></a></div>
                                    <div class="logo_box_clouds"><a href="#"><img src="./img/block_two/logo_two.svg" alt="logo"></a></div>
                                </div>
                            </div>
                            <div class="line_end">
                                <div class="logo_box_clouds"><a href="#"><img src="./img/block_two/logo_three.svg" alt="logo"></a></div>
                                <div class="logo_box_clouds"><a href="#"><img src="./img/block_two/logo_four.svg" alt="logo"></a></div>
                            </div>
                        </div>
                    </section>