<section class="block_three">


    <div class="tailor">
        <div class="tailor_big">Tailor-made features</div>
        <div class="lorem">Lorem ipsum is common placeholder text used to demonstrate the graphic elements of a document
            or visual presentation.</div>
    </div>

    <div class="six_components">

        <div class="first_line">
            <div class="item robust">
                <img src="./img/block_three/base_feature_icon_five.svg" alt="robust">
                <div>
                    <div class="header_six">Robust workflow</div>
                    <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed erat nibh tristique ipsum</span>
                </div>
            </div>
            <div class="item flexibility">
                <img src="./img/block_three/base_feature_icon_one.svg" alt="flexibility">
                <div>
                    <div class="header_six">Flexibility</div>
                    <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed erat nibh tristique ipsum</span>
                </div>
            </div>
            <div class="item user">
                <img src="./img/block_three/base_feature_icon_three.svg" alt="user">
                <div>
                    <div class="header_six">User friendly</div>
                    <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed erat nibh tristique ipsum</span>
                </div>
            </div>
        </div>


        <div class="second_line">
            <div class="item multiple">
                <img src="./img/block_three/base_feature_icon_four.svg" alt="multiple">
                <div>
                    <div class="header_six">Multiple layouts</div>
                    <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed erat nibh tristique ipsum</span>
                </div>
            </div>
            <div class="item better">
                <img src="./img/block_three/base_feature_icon_five.svg" alt="better">
                <div>
                    <div class="header_six">Better components</div>
                    <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed erat nibh tristique ipsum</span>
                </div>
            </div>
            <div class="item well">
                <img src="./img/block_three/base_feature_icon_six.svg" alt="well">
                <div>
                    <div class="header_six">Well organised</div>
                    <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed erat nibh tristique ipsum</span>
                </div>
            </div>
        </div>

    </div>

</section>