<section class="block_one">
    <div class="text_btn_mobile_block_one">

        <div class="text_btn_stripe_block_one">

            <div class="text_block_one">
                <div class="text_big_block_one">The easiest way to manage projects</div>
                <div class="text_small_block_one">From the small stuff to the big picture, organizes the work so teams
                    know what to do, why it matters, and how to get it done.</div>
            </div>

            <div class="btn_block_one">
                <button class="get_started"><a href="#">Get started</a></button>
                <button class="watch_video"><a href="#">
                        <div class="arrow"><img src="./img/block_one/arrow.svg" alt="arrow"></div>
                        <div>Watch Video</div>
                    </a></button>
            </div>

        </div>

        <div class="iphone">
            <img src="./img/block_one/mobile.png" alt="mobile">
        </div>
    </div>
</section>