<div class="block_four_wrapper">

    <div class="container_block_four">

        <div class="left">
            <div class="real_wrapper">
                <div class="real">
                    <div>
                        <div>Real Stories from Real Customers</div>
                        <div>Get inspired by these stories.</div>
                    </div>
                </div>
            </div>
            <div class="chort_nogy_zlamae airbnb">
                <div>
                    <a href="#"><img src="./img/block_four/client_logo_one.svg" alt="airbnb"></a>
                </div>
                <div>
                    <div>
                        <img src="./img/block_four/quote_mark.svg" alt="">
                    </div>
                    <div>
                        <div>I used landify and created a landing page for my startup within a week. The Landify UI Kit
                            is simple
                            and highly
                            intuitive, so anyone can use it.</div>
                        <div>
                            <div>Jane Cooper</div>
                            <div>CEO, Airbnb</div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="right">
            <div class="chort_nogy_zlamae hubspot">
                <div>
                    <a href="#">
                        <img src="./img/block_four/client_logo_two.svg" alt="hubspot">
                    </a>
                </div>
                <div>
                    <div>
                        <img src="./img/block_four/quote_mark.svg" alt="">
                    </div>
                    <div>
                        <div> To quickly start my startup landing page design, I was looking for a landing page UI Kit.
                            Landify is one of the best landing page UI kit I have come across. It’s so flexible, well
                            organised and easily editable.</div>
                        <div>
                            <div>Floyd Miles</div>
                            <div>Vice President, GoPro</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="chort_nogy_zlamae strapi">
                <div>
                    <a href="#"><img src="./img/block_four/client_logo_three.svg" alt="strapi"></a>
                </div>
                <div>
                    <div>
                        <img src="./img/block_four/quote_mark.svg" alt="">
                    </div>
                    <div>
                        <div>Landify saved our time in designing my company page.</div>
                        <div>
                            <div>Kristin Watson</div>
                            <div>Co-Founder, Strapi</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>