<div class="blcksix">
    <div class="easy">
        <div>Easy integrations with 170+ tools</div>
        <div>Connect Landify with your favourite tools that you use daily and keep things on track.</div>
    </div>
    <div class="ring">
        <div class="ring_box">
            <div>
                <div><a href="#"><img class="logo_small_adapt" src="./img/block_six/logoseven.svg" alt="logo"></a>
                </div>
                <div><a href="#"><img class="logo_small_adapt" src="./img/block_six/logoone.svg" alt="logo"></a>
                </div>
                <div><a href="#"><img class="logo_small_adapt" src="./img/block_six/logotwo.svg" alt="logo"></a>
                </div>
                <div><a href="#"><img class="logo_small_adapt" src="./img/block_six/logothre.svg" alt="logo"></a>
                </div>
            </div>
            <div>
                <div><a href="#"><img class="logo_small_adapt" src="./img/block_six/logofour.svg" alt="logo"></a>
                </div>
                <div><a href=""><img class="logo_small_adapt" src="./img/block_six/logofive.svg" alt="logo"></a>
                </div>
                <div><a href="#"><img class="logo_small_adapt" src="./img/block_six/logosix.svg" alt="logo"></a>
                </div>
            </div>
        </div>

    </div>
</div>