<div class="bfive">

    <div class="years">
        <span>Our 18 years of achievements</span>
        <span>With our super powers we have reached this</span>
    </div>

    <div class="fourobjects">

        <div class="bf_row bf_row_one">
            <div>
                <div>
                    <img src="./img/block_three/base_feature_icon_two.svg" alt="">
                </div>
                <div>
                    <div>10,000+</div><span>Downloads per day</span>
                </div>
            </div>

            <div>
                <div>
                    <img src="./img/block_three/base_feature_icon_four.svg" alt="">
                </div>
                <div>
                    <div>2 Million</div><span>Users</span>
                </div>
            </div>
        </div>

        <div class="bf_row bf_row_two">
            <div>
                <div>
                    <img src="./img/block_three/base_feature_icon_five.svg" alt="">
                </div>
                <div>
                    <div>500+</div><span>Clients</span>
                </div>
            </div>
            <div>
                <div>
                    <img src="./img/block_five/b_f_t.svg" alt="">
                </div>
                <div>
                    <div>140</div><span>Countries</span>
                </div>
            </div>
        </div>


    </div>
</div>