<div class="wrapper_seven">
    <div class="countainer_seven">
        <div class="blckseven">
            <div class="blckseven_left">
                <div class="manage">
                    <div>Manage all projects from your mobile</div>
                    <span>Download the app to manage your projects, keep track of the progress and complete tasks
                        without
                        procastinating. Stay on track and complete on time!</span>
                </div>
                <div class="get">
                    <div>Get the App</div>
                    <div class="get_line">
                        <div class="app_badges_two">
                            <button class="company google_play">
                                <a href="#">
                                    <img src="./img/header/gplp.svg" alt="google_play">
                                    <img src="./img/header/gptext.svg" alt="google_play">
                                </a>
                            </button>
                            <button class="company apple">
                                <a href="#">
                                    <img src="./img/header/groupap.svg" alt="app_store">
                                    <img src="./img/header/textap.svg" alt="app_store">
                                </a>
                            </button>
                        </div>
                    </div>
                </div>
            </div>


            <div class="two_mobile">
                <div class="left_mobile"><img src="./img/block_seven/pml.png" alt=""></div>
                <div class="right_mobile"><img src="./img/block_seven/pmr.png" alt=""></div>
            </div>

        </div>
    </div>
</div>