<footer class="footer">
  <div class="countainer_footer">


    <div class="eight_line">
      <div class="eight_left">
        <div>
          <a href="#"><img src="./img/block_eight/logomark.svg" alt="logo"></a>
        </div>

        <div>
          <div>
            <a href="#">Download Now</a>
            <a href="#">License</a>
          </div>
          <div>
            <div>
              <div><a href="#">About</a></div>
              <div><a href="#">Features</a></div>
              <div><a href="#">Pricing</a></div>
              <div><a href="#">News</a></div>
            </div>
            <div>
              <div><a href="#">Help</a></div>
              <div><a href="#">Contact</a></div>
            </div>
          </div>
        </div>

        <div>
          © 2021 Landify UI Kit. All rights reserved
        </div>
      </div>
      <div class="eight_right">
        <div>Get the App</div>
        <div>
          <button class="company google_play">
            <a href="#">
              <img src="./img/header/gplp.svg" alt="google_play">
              <img src="./img/header/gptext.svg" alt="google_play">
            </a>

          </button>
        </div>
        <div>
          <button class="company apple">
            <a href="#">
              <img src="./img/header/groupap.svg" alt="app_store">
              <img src="./img/header/textap.svg" alt="app_store">
            </a>
          </button>
        </div>
      </div>
    </div>


  </div>

</footer>