<header class="header">

  <div class="logo_nav">
    <div class="header_logo">
      <a href="#"><img src="./img/header/logo.svg" alt="logo"></a>
    </div>
    <nav class="nav">
      <ul>
        <li><a href="#">Features</a></li>
        <li><a href="#">Pricing</a></li>
        <li><a href="#">Careers</a></li>
        <li><a href="#">Help</a></li>
      </ul>
    </nav>
  </div>
  <div class="menu_icon">
    <div class="app_badges">
      <button class="company google_play">
        <a href="#">
          <img src="./img/header/gplp.svg" alt="google_play">
          <img src="./img/header/gptext.svg" alt="google_play">
        </a>
      </button>
      <button class="company apple">
        <a href="#">
          <img src="./img/header/groupap.svg" alt="google_play">
          <img src="./img/header/textap.svg" alt="app_store">
        </a>
      </button>

    </div>
    <div class="menu_icon_line">
      <img src="./img/header/essential.svg" alt="menu_icon_line">
    </div>
  </div>

</header>
